---
import { getCollection } from "astro:content";
import type { Translation } from "../content.config";

interface Props {
    translation: Translation;
}

const events = await getCollection("events");
const CTFs = events
    .filter((event) => event.data.type === "ctf")
    .map((event) => event.data);

const hackathons = events
    .filter((event) => event.data.type === "hackathon")
    .map((event) => event.data);

const { translation } = Astro.props;
---

<div class="container" id="events">
    <h2>{translation.headings.events}</h2>
    <p>{translation.events}</p>

    <h3>Capture the Flag (CTF)</h3>
    <ul>
        {
            CTFs.map((ctf) => (
                <li>
                    <a href={ctf.link} target="_blank">
                        {ctf.name}
                    </a>
                </li>
            ))
        }
    </ul>

    <h3>Hackathons</h3>
    <ul>
        {
            hackathons.map((hackathon) => (
                <li>
                    <a href={hackathon.link} target="_blank">
                        {hackathon.name}
                    </a>
                </li>
            ))
        }
    </ul>
</div>
