---
import { getCollection } from "astro:content";
import type { Translation } from "../content.config";

interface Props {
    translation: Translation;
}
const { translation } = Astro.props;

let projects = await getCollection("projects");

for (let i = 0; i < projects.length; i++) {
    // @ts-ignore
    projects[i].data.category = projects[i].data.category
        .map((category) => translation.categories[category])
        .join("/");
}

const currentProjects = projects
    .filter((project) => project.data.type === "pro_current")
    .map((project) => project.data);

const pastProjects = projects
    .filter((project) => project.data.type === "pro_past")
    .map((project) => project.data);

const personalProjects = projects
    .filter((project) => project.data.type === "personal")
    .map((project) => project.data);
---

<div class="container" id="projects">
    <h2>{translation.headings.projects}</h2>
    <p>{translation.projects.currently}</p>
    <ul>
        {
            currentProjects.map((project) => (
                <li>
                    <a href={project.link} target="_blank">
                        <span>@{project.name}</span>
                    </a>
                    <span>({project.category})</span>
                </li>
            ))
        }
    </ul>

    <p>{translation.projects.past}</p>
    <ul>
        {
            pastProjects.map((project) => (
                <li>
                    <a href={project.link} target="_blank">
                        <span>@{project.name}</span>
                    </a>
                    <span>({project.category})</span>
                </li>
            ))
        }
    </ul>

    <h3>{translation.headings.personal_projects}</h3>
    <p class="spare-time">
        {translation.projects.personal}
    </p>
    <ul>
        {
            personalProjects.map((project) => (
                <li>
                    <a href={project.link} target="_blank">
                        <span>{project.name}</span>
                    </a>
                    <span>({project.category})</span>
                </li>
            ))
        }
    </ul>
</div>

<style>
    h1,
    h2 {
        margin: 0 !important;
    }

    .spare-time {
        margin-top: 5px !important;
    }
</style>
